################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MYORM/.vs/MYORM/v16
/MYORM/MYModels/obj
/MYORM/MYORM/obj
/MYORM/SQLHelper/obj
/MYORM/MYORM.Framwork/obj
